<h1>Contacts#index</h1>

<%= link_to 'New Contact', new_contact_path %>

<% if @contacts.empty? %>
  <p> No Contacts yet!</p>
<% else %>
  <ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.first_name %></li>
  <% end %>
  </ul>
<% end %>
